$background: #eeeeee;
$baseMargin: 10px;

body {
  background: $background;
  font-family: "Gill Sans";
}

h1 {
    font-size: 32px;
    font-weight: 300;
    margin: 0;
}

h2 {
    font-size: 24px;
    font-weight: 300;
    margin: 0;
}

.container {
    width: 60%;
    margin: 0 auto;
}

.center {
    margin: 0 auto;
}

.readline-item {
    background-color: white;
    padding: $baseMargin;
    margin-top: $baseMargin;
}